<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- CSV SETUP CONFIG-->
  <appSettings>
    <add key="CSVFileName" value="StockPrices.csv" />
    <add key="APIUrl" value="https://www.alphavantage.co/query?function=TIME_SERIES_DAILY"/>
    <add key="APIKey" value="X02PWFJG9NGAPSVO"/>
  </appSettings>
  
</configuration>